.select {
  padding: 10px 16px;
  border: 2px solid gray;
  border-radius: 9999px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: white;
  height: 100%;
}

.select option {
  background: gray;
  color: white;
}