.search {
  display: block;
  margin: 0 auto 24px auto;
  width: 100%;
  max-width: 400px;
  padding: 10px 16px;
  border: 2px solid gray;
  border-radius: 9999px;
  font-size: 1rem;
  outline: none;
}

.search:focus {
  border-color: white;
}